#root {
  width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --nav-bar-width: 230px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.main {
  display: flex;
}

.toolbar {
  width: var(--nav-bar-width);
  text-align: left;
  padding-right: 30px;
  margin-top: 120px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

.menu li {
  padding: 10px 0;
}

.menu a {
  font-weight: bold;
}

.content {
  width: calc(100% - var(--nav-bar-width));
}